<footer class="site-footer">
  <span class="site-footer-owner"><a href="{{ site.url }}">{{ site.title }}</a> is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span>
  <span class="site-footer-credits">Think you found a bug or you have improvement idea? Use github <a href="https://github.com/Hectix/Hectix-Collapse/issues">issue tracker</a>.</span>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script src="dist/hectixcollapse.min.js"></script>
<script>
    $("section.hectixCollapse").hectixCollapse({
        initialItems: 1,
        itemsPerClick: 1,
        slideSpeed: 300,
        buttonText: "Remaning: ",
        showCounter: true
    });
    $("section.hectixCollapse1").hectixCollapse({
        initialItems: 1,
        itemsPerClick: 2,
        slideSpeed: 600,
        buttonText: "Next",
        showCounter: false
    });
</script>
<style>
  /*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
  .prettyprint{background:#fff;font-family:Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;border:0!important}.pln{color:#333}ol.linenums{margin-top:0;margin-bottom:0;color:#ccc}li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{padding-left:1em;background-color:#fff;list-style-type:decimal}@media screen{.str{color:#159957}.kwd{color:navy}.com{color:#969896}.typ{color:#0086b3}.lit{color:#0086b3}.pun{color:#333}.opn{color:#333}.clo{color:#333}.tag{color:navy}.atn{color:#795da3}.atv{color:#159957}.dec{color:#333}.var{color:teal}.fun{color:#900}}
  .lang-html, .lang-js {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 15px!important;
  }
</style>
